body{

    background-color: white;

}

#container{
    
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgb(209, 225, 240);
}

h1{
    padding-top: 15px;
}

input{
    width: 70%;
    box-sizing: border-box;
}

.input{
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 4px;
}

#button{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    
}

#resultado{

    padding-bottom: 20px;
}